<body>
    <center> <a href="../book/1">Dog Days </a> </center>
</br>
    <center> <a href="../book/2">Diary of Wimpy Kid </a> </center>
</br>
   <center> <a href="../book/3">Rodrick Rules</a> </center> 
</body>
