</br>
<center> <h1>Add Your Book Here  </h1> </center>
<form action="../book/bookcreate" method="POST" name="myForm"></form>

<center>Book Name </center>
<center><input type="text" name=" title" id="bookName" required ><br /><br /> </center>
<center><label id="bookAuthor">Author </label><br /></center>
<center><input type="text" name=" author" id="bookAuthor" required><br /><br /></center>

<center><label id="amazonLink">Amazon Link </label><br /></center>

<center><input type="text" name="amazonLink" id="amazonLink" required><br /><br /></center>
<center><button>Add Book to Database</button> </center>

</form>

<center> 
    <br>
    <br>
    <br>
    <br>
    <br>
    <br><br>
    <br>
    <br><br><br>
    <br><br>
 
    <div class="Pane" >
        
 
        <p style=" position: absolute; bottom: 0; left: 0; width: 100%; text-align: center;"> <a href="/home"> List of Books </a>

            &nbsp;|
        <a href="../views/addbook"> Add A Book </a>
        &nbsp;|
        <a href="../views/delbook"> Delete A Book </a>
       <br /><br />
    </p>
    
    </div>
    </center>