</br>
</br>
<h1>Adding a book </h1>
<form action="../books/bookcreate" method="POST" name="myForm"></form>

Name of book :
<input type="text" name="form title" id="bookName" required ><br />
<br /><label id="form author">Book Author: </label><br />
<input type="text" name="form author" id="bookAuthor" required><br />
<br /><label id="amazonLink">Amazon Link: </label><br />
<input type="text" name="amazonLink" id="amazonLink" required><br /><br />
<button>Add Books to Database</button> 

</form>

<center> 
<div class="navigationPane" >
    <h4>Navigation Pane&thinsp;&thinsp;&thinsp;&thinsp;&thinsp;&thinsp;</h4>
    <hr style="width:50%;text-align:center;">

    <a href="/home"> List of Books </a>
    &thinsp;|&thinsp;
    <a href="../views/addbook"> Add A Book </a>
    &thinsp;|&thinsp;
    <a href="../views/delbook"> Delete A Book </a>
    &thinsp;&thinsp;&thinsp;&thinsp;&thinsp;<br /><br />

</div>
</center>