<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/header') %>
    <title>Lab 10</title>
</head>
<body>
</br>
<%- include('partials/body') %>
</body>
</html>
<table>
    <% let i = 0 %>
    <% data.forEach (data => {%>
        <% i++ %>
        <tr>
            <td><a href="<%=`/book/${data._id}` %>"><%= data.name%></a></td>
        </tr>
    <% }); %>
</table>
</br>



<center> 
    <br>
    <br>
    <br>
    <br>
    <br>
    <br><br>
    <br>
    <br><br><br>
    <br><br>
 
    <div class="Pane" >
        
 
        <p style=" position: absolute; bottom: 0; left: 0; width: 100%; text-align: center;"> <a href="/home"> List of Books </a>

            &nbsp;|
        <a href="../views/addbook"> Add A Book </a>
        &nbsp;|
        <a href="../views/delbook"> Delete A Book </a>
       <br /><br />
    </p>
    
    </div>
    </center>